In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stock_data_month.csv')

In [3]:
df.head(3)

      년  월  ticker           종가           거래량          날짜 corp_name  marke
0  2018  1  095570  7303.636364  52151.272727  2018-01-01    AJ네트웍스  KOSPI
1  2018  2  095570  7689.444444  45100.722222  2018-02-01    AJ네트웍스  KOSPI
2  2018  3  095570  7266.190476  32050.428571  2018-03-01    AJ네트웍스  KOSPI

In [4]:
df2 = df[df['marke'] == 'KOSPI']

In [5]:
df2.head(3)

      년  월  ticker           종가           거래량          날짜 corp_name  marke
0  2018  1  095570  7303.636364  52151.272727  2018-01-01    AJ네트웍스  KOSPI
1  2018  2  095570  7689.444444  45100.722222  2018-02-01    AJ네트웍스  KOSPI
2  2018  3  095570  7266.190476  32050.428571  2018-03-01    AJ네트웍스  KOSPI

In [6]:
df3 = df[df['marke'] == 'KOSDAQ']

In [7]:
df3.head(3)

,년,월,ticker,종가,거래량,날짜,corp_name,marke
59608,2018,1,060310,2235.000000,329245.818182,2018-01-01,3S,KOSDAQ
59609,2018,2,060310,2135.555556,127324.722222,2018-02-01,3S,KOSDAQ
59610,2018,3,060310,2133.809524,316193.857143,2018-03-01,3S,KOSDAQ

In [8]:
df2.to_csv('kospi_data_month.csv')

In [9]:
df3.to_csv('kosdaq_data_month.csv')