In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/stock_data.csv')

In [3]:
df.head(3)

,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,2023-01-02,55500,56100,55200,55500,10031448,558433491400,0.36,005930,삼성전자,KOSPI
1,2023-01-03,55400,56000,54500,55400,13547030,747898872200,-0.18,005930,삼성전자,KOSPI
2,2023-01-04,55700,58000,55600,57800,20188071,1151473733800,4.33,005930,삼성전자,KOSPI

In [4]:
df2 = df[df['market'] == 'KOSPI']

In [5]:
df2.head(3)

,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,2023-01-02,55500,56100,55200,55500,10031448,558433491400,0.36,005930,삼성전자,KOSPI
1,2023-01-03,55400,56000,54500,55400,13547030,747898872200,-0.18,005930,삼성전자,KOSPI
2,2023-01-04,55700,58000,55600,57800,20188071,1151473733800,4.33,005930,삼성전자,KOSPI

In [6]:
df3 = df[df['market'] == 'KOSDAQ']

In [7]:
df3.head(3)

,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
1989,2023-01-02,106000,111000,105600,110000,465719,50670370100,6.80,086520,에코프로,KOSDAQ
1990,2023-01-03,109500,114100,108500,114000,415425,46540277400,3.64,086520,에코프로,KOSDAQ
1991,2023-01-04,111100,114600,110800,114000,288851,32743752300,0.00,086520,에코프로,KOSDAQ

In [8]:
df2.to_csv('../Data/kospi_data.csv')

In [9]:
df3.to_csv('../Data/kosdaq_data.csv')