In [1]:
import pandas as pd
import numpy as np

In [6]:
kospi_data = pd.read_csv('../Data/kospi_data.csv')

In [7]:
kospi_data.head(3)

,Unnamed: 0,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,0,2023-01-02,55500,56100,55200,55500,10031448,558433491400,0.36,005930,삼성전자,KOSPI
1,1,2023-01-03,55400,56000,54500,55400,13547030,747898872200,-0.18,005930,삼성전자,KOSPI
2,2,2023-01-04,55700,58000,55600,57800,20188071,1151473733800,4.33,005930,삼성전자,KOSPI

In [8]:
kospi_data['날짜'] = pd.to_datetime(kospi_data["날짜"])

In [12]:
kospi_data

,Unnamed: 0,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market,월,년
0,0,2023-01-02,55500,56100,55200,55500,10031448,558433491400,0.36,005930,삼성전자,KOSPI,1,2023
1,1,2023-01-03,55400,56000,54500,55400,13547030,747898872200,-0.18,005930,삼성전자,KOSPI,1,2023
2,2,2023-01-04,55700,58000,55600,57800,20188071,1151473733800,4.33,005930,삼성전자,KOSPI,1,2023
3,3,2023-01-05,58200,58800,57600,58200,15682826,911973904900,0.69,005930,삼성전자,KOSPI,1,2023
4,4,2023-01-06,58300,59400,57900,59000,17334989,1018769177900,1.37,005930,삼성전자,KOSPI,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110720,314756,2023-06-16,11600,11600,10100,10100,12449,129538680,-0.10,000547,흥국화재2우B,KOSPI,6,2023
110721,314757,2023-06-19,10100,10200,9260,9280,9026,86504990,-8.12,000547,흥국화재2우B,KOSPI,6,2023
110722,314758,2023-06-20,9000,9000,7510,7510,42983,344411200,-19.07,000547,흥국화재2우B,KOSPI,6,2023
110723,314759,2023-06-21,7600,9760,7350,9760,20596,178792560,29.96,000547,흥국화재2우B,KOSPI,6,2023
110724,314760,2023-06-22,12680,12680,12680,12680,9717,123211560,29.92,000547,흥국화재2우B,KOSPI,6,2023

In [13]:
kospi_data['월'] = kospi_data['날짜'].dt.month
kospi_data['년'] = kospi_data['날짜'].dt.year

kospi_data_month = kospi_data[['년','월', 'corp_name','종가', '거래량']].groupby(['년','월','corp_name']).mean()
kospi_data_month = kospi_data_month.reset_index()

kospi_data_month['날짜'] = kospi_data_month['년'].astype(str) + "-" + kospi_data_month['월'].astype(str) + '-01'
kospi_data_month['날짜'] = pd.to_datetime(kospi_data_month['날짜'])
kospi_data_month

         년  월 corp_name             종가           거래량         날짜
0     2023  1    AJ네트웍스    5991.500000  9.976605e+04 2023-01-01
1     2023  1     AK홀딩스   16856.000000  1.361265e+04 2023-01-01
2     2023  1       BGF    4223.000000  1.715020e+05 2023-01-01
3     2023  1    BGF리테일  192115.000000  4.135840e+04 2023-01-01
4     2023  1   BNK금융지주    6941.000000  1.538790e+06 2023-01-01
...    ... ..       ...            ...           ...        ...
5683  2023  6       휴스틸    6275.333333  5.218225e+05 2023-06-01
5684  2023  6      흥국화재    3207.666667  7.041040e+04 2023-06-01
5685  2023  6   흥국화재2우B   12684.000000  1.000980e+04 2023-06-01
5686  2023  6     흥국화재우    5690.666667  6.378000e+03 2023-06-01
5687  2023  6      흥아해운    1542.333333  5.720440e+06 2023-06-01

[5688 rows x 6 columns]

In [14]:
kospi_data_month.to_csv('../Data/kospi_data_month.csv', index=False)

In [37]:
kosdaq_data = pd.read_csv('../Data/kosdaq_data.csv')

/tmp/ipykernel_2994/807975682.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  kosdaq_data = pd.read_csv('../Data/kosdaq_data.csv')

In [38]:
kosdaq_data.head(3)

,Unnamed: 0,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,1989,2023-01-02,106000,111000,105600,110000,465719,50670370100,6.80,86520,에코프로,KOSDAQ
1,1990,2023-01-03,109500,114100,108500,114000,415425,46540277400,3.64,86520,에코프로,KOSDAQ
2,1991,2023-01-04,111100,114600,110800,114000,288851,32743752300,0.00,86520,에코프로,KOSDAQ

In [39]:
kosdaq_data['날짜'] = pd.to_datetime(kosdaq_data["날짜"])

In [40]:
kosdaq_data['월'] = kosdaq_data['날짜'].dt.month
kosdaq_data['년'] = kosdaq_data['날짜'].dt.year
kosdaq_data_month = kosdaq_data[['년','월', '종가']].groupby(['년','월']).mean()
kosdaq_data_month = kosdaq_data_month.reset_index()
kosdaq_data_month

      년  월            종가
0  2023  1   9069.735697
1  2023  2  10062.841373
2  2023  3  10432.759227
3  2023  4  11008.896870
4  2023  5  10586.573081
5  2023  6  11093.011842

In [41]:
kosdaq_data_month.to_csv('../Data/kosdaq_data_month.csv', index=False)