In [31]:
import pandas as pd
import numpy as np

In [32]:
kospi_data = pd.read_csv('../Data/kospi_data.csv')

In [33]:
kospi_data.head(3)

,Unnamed: 0,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,0,2023-01-02,55500,56100,55200,55500,10031448,558433491400,0.36,005930,삼성전자,KOSPI
1,1,2023-01-03,55400,56000,54500,55400,13547030,747898872200,-0.18,005930,삼성전자,KOSPI
2,2,2023-01-04,55700,58000,55600,57800,20188071,1151473733800,4.33,005930,삼성전자,KOSPI

In [34]:
kospi_data['날짜'] = pd.to_datetime(kospi_data["날짜"])

In [35]:
kospi_data['월'] = kospi_data['날짜'].dt.month
kospi_data['년'] = kospi_data['날짜'].dt.year
kospi_data_month = kospi_data[['년','월', '종가']].groupby(['년','월']).mean()
kospi_data_month = kospi_data_month.reset_index()
kospi_data_month

      년  월            종가
0  2023  1  38136.777518
1  2023  2  39466.302754
2  2023  3  38957.292130
3  2023  4  39729.207222
4  2023  5  38480.800980
5  2023  6  39039.952364

In [36]:
kospi_data_month.to_csv('../Data/kospi_data_month.csv', index=False)

In [37]:
kosdaq_data = pd.read_csv('../Data/kosdaq_data.csv')

/tmp/ipykernel_2994/807975682.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  kosdaq_data = pd.read_csv('../Data/kosdaq_data.csv')

In [38]:
kosdaq_data.head(3)

,Unnamed: 0,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,market
0,1989,2023-01-02,106000,111000,105600,110000,465719,50670370100,6.80,86520,에코프로,KOSDAQ
1,1990,2023-01-03,109500,114100,108500,114000,415425,46540277400,3.64,86520,에코프로,KOSDAQ
2,1991,2023-01-04,111100,114600,110800,114000,288851,32743752300,0.00,86520,에코프로,KOSDAQ

In [39]:
kosdaq_data['날짜'] = pd.to_datetime(kosdaq_data["날짜"])

In [40]:
kosdaq_data['월'] = kosdaq_data['날짜'].dt.month
kosdaq_data['년'] = kosdaq_data['날짜'].dt.year
kosdaq_data_month = kosdaq_data[['년','월', '종가']].groupby(['년','월']).mean()
kosdaq_data_month = kosdaq_data_month.reset_index()
kosdaq_data_month

      년  월            종가
0  2023  1   9069.735697
1  2023  2  10062.841373
2  2023  3  10432.759227
3  2023  4  11008.896870
4  2023  5  10586.573081
5  2023  6  11093.011842

In [41]:
kosdaq_data_month.to_csv('../Data/kosdaq_data_month.csv', index=False)