In [19]:
import pandas as pd

In [20]:
kor_stock = pd.read_csv('kor_stock_data.csv')

/tmp/ipykernel_90277/486039899.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  kor_stock = pd.read_csv('kor_stock_data.csv')

In [21]:
kor_stock.head(3)

           날짜    시가    고가    저가    종가    거래량       거래대금   등락률  ticker
0  2018-01-02  6980  6990  6850  6970  60294  417947300  0.00  095570
1  2018-01-03  6970  7000  6910  6920  45848  319107800 -0.72  095570
2  2018-01-04  6990  7100  6920  7070  53176  372980010  2.17  095570

In [22]:
ticker_name = pd.read_csv('kor_ticker_list.csv')

In [23]:
ticker_name.head(3)

   ticker corp_name  marke
0  095570    AJ네트웍스  KOSPI
1  006840     AK홀딩스  KOSPI
2  027410       BGF  KOSPI

In [24]:
stock_name = pd.merge(kor_stock, ticker_name, how='left', on='ticker')

In [25]:
stock_name.head(3)

,날짜,시가,고가,저가,종가,거래량,거래대금,등락률,ticker,corp_name,marke
0,2018-01-02,6980,6990,6850,6970,60294,417947300,0.00,095570,AJ네트웍스,KOSPI
1,2018-01-03,6970,7000,6910,6920,45848,319107800,-0.72,095570,AJ네트웍스,KOSPI
2,2018-01-04,6990,7100,6920,7070,53176,372980010,2.17,095570,AJ네트웍스,KOSPI

In [26]:
stock_name.to_csv('stock_data.csv', index=False)