In [1]:
import pandas as pd

In [2]:
kospi_index = pd.read_csv('kospi_price_change.csv')

In [3]:
kosdaq_index = pd.read_csv('kosdaq_price_change.csv')

In [4]:
kospi_index.head(3)

           날짜       종가   등락률    PER  선행PER   PBR  배당수익률
0  2018-01-02  2479.65  0.49  13.06    0.0  1.12   1.35
1  2018-01-03  2486.35  0.27  13.09    0.0  1.12   1.35
2  2018-01-04  2466.46 -0.80  12.99    0.0  1.11   1.36

In [5]:
kospi_index = kospi_index[['날짜', '종가']]

In [6]:
kospi_index.head(3)

           날짜       종가
0  2018-01-02  2479.65
1  2018-01-03  2486.35
2  2018-01-04  2466.46

In [7]:
kospi_index.to_csv('kospi_index.csv', index=False)

In [8]:
kosdaq_index = kosdaq_index[['날짜', '종가']]

In [9]:
kosdaq_index.head(3)

           날짜      종가
0  2018-01-02  812.45
1  2018-01-03  822.31
2  2018-01-04  808.01

In [10]:
kosdaq_index.to_csv('kosdaq_index.csv', index=False)